.branding {
    filter: invert(28%) sepia(97%) saturate(7139%) hue-rotate(281deg) brightness(99%) contrast(127%);
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.navbar .navbar-nav a {
    color: #BF00FF;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #BF00FF;
    ;
    font-weight: bold;
}

.nav-link:focus,
.nav-link:hover {
    font-weight: bold;
}

.text-custom {
    color: #BF00FF;
}
